#nomBoisson{
    color: var(--primary-color);
    font-weight: bold;
}

#boissonInfo{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-direction: column;
}

.content{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-top: 4vh;
}

#history{
    margin-top: 10px;
}

#nav{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    background-color: var(--accent-color);
    width: 20%;
    min-width: 300px;
    max-width: 500px;
    height: 50px;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
}

#titreNav{
    max-height: 100%;
    font-weight: bold;
    white-space: nowrap;
    margin: 0;
    text-align: center;
}