#boissonContener{
    display: none;
}
.content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
    align-items: center;
    gap: 30px;
}


#boisson{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    min-width: 300px;
    min-height: 300px;
    width: 30vw;
    height: 30vw;
    background-color: white;
    border-radius: 30px;

}

#boisson > img{
    width: 80%;
    height: 80%;
    border-radius: 30px;
}

#nomBoisson{
    color: var(--primary-color);
    font-weight: bold;
}

#boissonInfo{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-direction: column;
    max-width: 60%;
}


#history{
    margin-top: 10px;
}

#nav{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    background-color: var(--accent-color);
    width: 20%;
    min-width: 300px;
    max-width: 500px;
    height: 50px;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
}

#titreNav{
    max-height: 100%;
    font-weight: bold;
    white-space: nowrap;
    margin: 0;
    text-align: center;
}

#Ingredients{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    flex-direction: column;
}

.tableInfo{
    margin-bottom: 90px;
    border-color: var(--primary-color);
    border: solid 1px;
}

.tableInfo a{
    font-weight: normal !important;
}

.tableInfo a:hover{
    color: white;
}
.tableInfo td{
    text-align: center;
    font-weight: normal;
}
.tableInfo th{
    border-color: var(--primary-color);
    border: solid 1px;
    width: 33%;
    font-weight: bolder ;
    text-align: center;
}

.tableInfo tbody:nth-child(odd) {
    background-color: #ddb3a1;
}

.tableInfo tbody:nth-child(even) {
    background-color: var(--accent-color);
}

@media screen and (max-width: 768px){
    #boisson{
        width: 90vw;
        height: 90vw;
    }
    #boissonInfo{
        max-width: 100%;
    }

}