.circle {
    width: 150vw;        
    height: 150vh;       
    border-radius: 50%;  
    background-color: var(--accent-color); 
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image_base{
    display: flex;
    width: 100%;
    justify-content: center;
    z-index: 2;
    position: relative;
}